<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <form action="/signin" method="POST">
        <label>Name :</label>
        <input type="Name" name="Name" placeholder="Enter your Name" required>
        <label>Email:</label>
        <input type="email" name="Name" placeholder="Enter your email" required>
         <label>Mobile Number :</label>
        <input type="Name"  name="Name" placeholder="Enter your mobile Number" required>
         <label> :</label>
        <input type="Name" name="Name" placeholder="Enter your gender" required>
         <label>Name :</label>
        <input type="Name" name="Name" placeholder="Enter your " required>
         <label>Name :</label>
        <input type="Name" name="" placeholder="Enter your Name" required>
    </form>
</body>
</html>